<!-- Basic form layout section start -->
<section id="basic-form-layouts">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-header">Invoice Options</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				
				<div class="card-body">
					<div class="px-3">
						<form class="form">
							<div class="form-body">
								
								<div class="row">
                                   
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					
                        <div class="form-group">
                            <label class="form-label" for="invoice_date">Current Invoice Status:</label>
                             
                            <h4 class="form-section">
                                </h4>
                                <label class="form-label" for="invoice_date">Currently there is No Invoice Run In Progress</label><br>
                                <label class="form-label" for="invoice_date">The Last Invoice Run Was by Abc at 7/11/2018 15:15</label><br>
                                <label class="form-label" for="invoice_date">The Last Completed Run Was by Abc at 7/11/2018 15:15</label><br>

                                                              
                            
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="upto_date">Options</label>
                            <h4 class="form-section">
                                </h4>
                            
                                <a type="button" [routerLink]="['/forms/invoie-run']" class="btn btn-raised mr-1 shadow-z-2 btn-secondary">Produce Cutomer Invoices</a>
                                
                                
                           
                        </div>  
                        <div class="form-group">
                                
                                
                                    
                                    <a type="button" [routerLink]="['/datatables/invoice-history']" class="btn btn-raised mr-1 shadow-z-2 btn-secondary">View Invoice History File</a>
                                    
                               
                            </div>  			
                        
                    </div>
								
								
								
								
								
					
								</div>
							

							
								

								
							</div>

							<div class="form-actions">
								<button type="button" class="btn btn-raised btn-danger mr-1">
									<i class="icon-trash"></i> Cancel
								</button>
								<button type="button" class="btn btn-raised btn-success">
									<i class="icon-note"></i> Save
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		
	</div>


	


	


	


	
</section>
<!-- // Basic form layout section end -->