<!-- Filter Datatable Options Starts -->
<section id="shipment" class="mb-3">
    <div class="row">
        <div class="col-12">
            <div class="content-header">ALL SHIPMENT</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                  <div class="card-title-wrap bar-info">
                    <h4 class="card-title">Manifest Listing</h4>
                  </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ngx-datatable class="bootstrap" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                             [sorts]="[{prop: 'name', dir: 'desc'}]" [limit]="10">
                           
                            <ngx-datatable-column name="Waybill">
                                
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Date">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Account">
                                
                            </ngx-datatable-column>
                            <ngx-datatable-column name="City">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Country">
                                
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Weight">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Pieces">
                                
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Prod">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Special">
                                
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Upgrade">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Agent">
                                
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Constigener">
                            </ngx-datatable-column> 
                            <ngx-datatable-column name="Manifest">
                                
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Hawb">
                            </ngx-datatable-column>                                                                                                                                                                         
                            <ngx-datatable-column name="View">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <a  [routerLink]="['/forms/job-info']" class="success p-0" data-original-title="" title="">
                                        <i class="fa fa-pencil font-medium-3 mr-2"></i>
                                    </a>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Filter Datatable Options Ends -->