<!--Pinning Starts-->
<section id="pinning" class="mb-3">
    <div class="row">
        <div class="col-12">
            <div class="content-header">Ready Reckoner</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                  <div class="card-title-wrap bar-info">
                    <h4 class="card-title">Table Pinning</h4>
                  </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ngx-datatable class="bootstrap" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"
                            [scrollbarH]="true" [rows]="rows">
                            <ngx-datatable-column name="Name" [width]="300" [frozenLeft]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Gender">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Age">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="City" [width]="150" prop="address.city">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="State" [width]="300" prop="address.state">
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Pinning Ends-->