<div class="row">
    <div class="col-sm-12">
        <div class="content-header">Customer Information</div>
    </div>
</div>
<section id="ngx">
    <div class="card">
        <div class="card-body">
            <div class="card-block">
                <wizard #wizard navBarLayout="large-empty-symbols">
                    <wizard-step navigationSymbol="&#xf007;" navigationSymbolFontFamily="FontAwesome">
                        <form #personalForm="ngForm" class="editForm" novalidate>
                            <h4 class="head text-center">General</h4>
                            <br/>
                            <div class='row'>
                                <div class='col-12'>
                                    <div class="row">
                                      <div class="form-group col-md-3 col-sm-12 col-xs-12">
										<label class="form-label" for="account_code">Account Code:</label>
										<input type="text" class="form-control" id="account_code" name="account_code" placeholder="" value="" >
									</div>
									<div class="form-group col-md-3 col-sm-12 col-xs-12">
										<label class="form-label" for="tcode">Tariff Code:</label>
										<input type="text" class="form-control" id="tcode" name="tcode" placeholder="" value="" >
									</div>
									<div class="form-group col-md-3 col-sm-12 col-xs-12">
									<label class="form-label" for="service">Service</label>
									<div class="controls">
										<select ui-jq="chosen"  class="form-control" id="service" data-placeholder="Pages for current User" name="service" required>
											<option value="" selected="selected"></option>
											<optgroup label="NFC EAST">
												<option selected="selected">BE</option>
												<option>New York Giants</option>
												<option>Philadelphia Eagles</option>
												<option>Washington Redskins</option>
												<optgroup>
													<optgroup label="NFC NORTH">
														<option>Chicago Bears</option>
														<option>Detroit Lions</option>
														<option>Green Bay Packers</option>
														<option>Minnesota Vikings</option>
													</optgroup>
													<optgroup label="NFC SOUTH">
														<option>Atlanta Falcons</option>
														<option>Carolina Panthers</option>
														<option>New Orleans Saints</option>
														<option>Tampa Bay Buccaneers</option>
													</optgroup>
													<optgroup label="NFC WEST">
														<option>Arizona Cardinals</option>
														<option>St. Louis Rams</option>
														<option>San Francisco 49ers</option>
														<option>Seattle Seahawks</option>
													</optgroup>
													<optgroup label="AFC EAST">
														<option>Buffalo Bills</option>
														<option>Miami Dolphins</option>
														<option>New England Patriots</option>
														<option>New York Jets</option>
													</optgroup>
													<optgroup label="AFC NORTH">
														<option>Baltimore Ravens</option>
														<option>Cincinnati Bengals</option>
														<option>Cleveland Browns</option>
														<option>Pittsburgh Steelers</option>
													</optgroup>
													<optgroup label="AFC SOUTH">
														<option>Houston Texans</option>
														<option>Indianapolis Colts</option>
														<option>Jacksonville Jaguars</option>
														<option>Tennessee Titans</option>
													</optgroup>
													<optgroup label="AFC WEST">
														<option>Denver Broncos</option>
														<option>Kansas City Chiefs</option>
														<option>Oakland Raiders</option>
														<option>San Diego Chargers</option>
													</optgroup>
										</select>
									</div>
								</div>
								
								<div class="form-group col-md-3 col-sm-12 col-xs-12">
									<label class="form-label" for="status">Status</label>
									<div class="controls">
										<select ui-jq="chosen"  class="form-control" id="status" data-placeholder="Pages for current User" name="status" required>
											<option value=""></option>
											<optgroup label="NFC EAST">
												<option selected="selected">A</option>
												<option>New York Giants</option>
												<option>Philadelphia Eagles</option>
												<option>Washington Redskins</option>
												<optgroup>
													<optgroup label="NFC NORTH">
														<option>Chicago Bears</option>
														<option>Detroit Lions</option>
														<option>Green Bay Packers</option>
														<option>Minnesota Vikings</option>
													</optgroup>
													<optgroup label="NFC SOUTH">
														<option>Atlanta Falcons</option>
														<option>Carolina Panthers</option>
														<option>New Orleans Saints</option>
														<option>Tampa Bay Buccaneers</option>
													</optgroup>
													<optgroup label="NFC WEST">
														<option>Arizona Cardinals</option>
														<option>St. Louis Rams</option>
														<option>San Francisco 49ers</option>
														<option>Seattle Seahawks</option>
													</optgroup>
													<optgroup label="AFC EAST">
														<option>Buffalo Bills</option>
														<option>Miami Dolphins</option>
														<option>New England Patriots</option>
														<option>New York Jets</option>
													</optgroup>
													<optgroup label="AFC NORTH">
														<option>Baltimore Ravens</option>
														<option>Cincinnati Bengals</option>
														<option>Cleveland Browns</option>
														<option>Pittsburgh Steelers</option>
													</optgroup>
													<optgroup label="AFC SOUTH">
														<option>Houston Texans</option>
														<option>Indianapolis Colts</option>
														<option>Jacksonville Jaguars</option>
														<option>Tennessee Titans</option>
													</optgroup>
													<optgroup label="AFC WEST">
														<option>Denver Broncos</option>
														<option>Kansas City Chiefs</option>
														<option>Oakland Raiders</option>
														<option>San Diego Chargers</option>
													</optgroup>
										</select>
									</div>
								</div>
									  <div class="form-group col-md-6 col-sm-12 col-xs-12">
												<label class="form-label" for="cname">Name:</label>
												<input type="text" class="form-control" id="cname" name="cname" placeholder="" value="" >
											</div>
									<div class="form-group col-md-3 col-sm-12 col-xs-12">
												<label class="form-label" for="hour">Hour:</label>
												<input type="text" class="form-control" id="hour" name="hour" placeholder="" value="" >
											</div>
									<div class="form-group col-md-3 col-sm-12 col-xs-12">
												<label class="form-label" for="min">.</label>
												<input type="text" class="form-control" id="min" name="min" placeholder="" value="" >
											</div>											
									<div class="form-group col-md-6 col-sm-12 col-xs-12">			
												<label class="form-label" for="add1">Address 1:</label>
												<input type="text" class="form-control" id="add1" name="add1" placeholder="" value="" >
											</div>							
									<div class="form-group col-md-6 col-sm-12 col-xs-12">
												<label class="form-label" for="phone">Phone:</label>
												<input type="text" class="form-control" id="phone" name="phone" placeholder="" value="" >
											</div>  
									<div class="form-group col-md-6 col-sm-12 col-xs-12">			
												<label class="form-label" for="add2">Address 2:</label>
												<input type="text" class="form-control" id="add2" name="add2" placeholder="" value="" >
											</div>	
									<div class="form-group col-md-6 col-sm-12 col-xs-12">
												<label class="form-label" for="fax">Fax:</label>
												<input type="text" class="form-control" id="fax" name="fax" placeholder="" value="" >
											</div> 	
									<div class="form-group col-md-6 col-sm-12 col-xs-12">			
												<label class="form-label" for="town">Town:</label>
												<input type="text" class="form-control" id="town" name="town" placeholder="" value="" >
											</div>	
									<div class="form-group col-md-6 col-sm-12 col-xs-12">			
												<label class="form-label" for="modem">Modem:</label>
												<input type="text" class="form-control" id="modem" name="modem" placeholder="" value="" >
											</div>
									<div class="form-group col-md-6 col-sm-12 col-xs-12">			
												<label class="form-label" for="country1">Country:</label>
												<input type="text" class="form-control" id="country1" name="country1" placeholder="" value="" >
											</div>
									<div class="form-group col-md-6 col-sm-12 col-xs-12">			
												<label class="form-label" for="fcontact">First Contact:</label>
												<input type="text" class="form-control" id="fcontact" name="fcontact" placeholder="" value="" >
											</div>			
									<div class="form-group col-md-6 col-sm-12 col-xs-12">			
												<label class="form-label" for="country2">Country:</label>
												<input type="text" class="form-control" id="country2" name="country2" placeholder="" value="" >
											</div>
									<div class="form-group col-md-6 col-sm-12 col-xs-12">			
												<label class="form-label" for="scontact">Second Contact:</label>
												<input type="text" class="form-control" id="scontact" name="scontact" placeholder="" value="" >
											</div>
									<div class="form-group col-md-6 col-sm-12 col-xs-12">			
												<label class="form-label" for="pcode">Postal Code:</label>
												<input type="text" class="form-control" id="pcode" name="pcode" placeholder="" value="" >
											</div>

											
									<div class="form-group col-md-6 col-sm-12 col-xs-12">
												<label class="form-label" for="gemail">General Email:</label>
												<input type="email" class="form-control" id="gemail" name="gemail" placeholder="" value="" >
											</div>
                                    </div>
                                    

                                    <div class="form-group text-center">
                                        <button type="button" uiSref="work" class="btn btn-info btn-raised" [disabled]="!personalForm.valid" nextStep>
                                            Next
                                            <span style="margin-left:10px;">
                                                <i class="ft-chevron-right"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </wizard-step>
                    <wizard-step navigationSymbol="&#xf0b1;" navigationSymbolFontFamily="FontAwesome">
                        <form #workForm="ngForm" class="editForm" novalidate>
                            <h4 class="head text-center">Invoicing </h4>
                            <br/>
                            <div class='row justify-content-center'>
                                
                                   <div class="col-md-6 col-sm-12 col-xs-12">
									<div class="form-group col-md-12 col-sm-12 col-xs-12">
												<label class="form-label" for="iname">Name:</label>
												<input type="email" class="form-control" id="iname" name="iname" placeholder="" value="" >
											</div> 	
									<div class="form-group col-md-12 col-sm-12 col-xs-12">
												<label class="form-label" for="i_address">Address:</label>
												<input type="text" class="form-control" id="i_address" name="i_address" placeholder="" value="" >
											</div> 	
									<div class="form-group col-md-12 col-sm-12 col-xs-12">
												
												<input type="email" class="form-control" id="i_address1" name="i_address1" placeholder="" value="" >
											</div> 	
									<div class="form-group col-md-12 col-sm-12 col-xs-12">
												
												<input type="email" class="form-control" id="i_address2" name="i_address2" placeholder="" value="" >
											</div> 	
									<div class="form-group col-md-12 col-sm-12 col-xs-12">
												
												<input type="email" class="form-control" id="i_address3" name="i_address3" placeholder="" value="" >
											</div> 	
									<div class="form-group col-md-12 col-sm-12 col-xs-12">
												
												<input type="email" class="form-control" id="i_address4" name="i_address4" placeholder="" value="" >
											</div> 	
									<div class="checkbox">
										<label class="icheck">
											<input type="checkbox" value="">
											<i></i> PDF
										</label>
									</div>
									<div class="checkbox">
										<label class="icheck">
											<input type="checkbox" checked value="">
											<i></i> CSV EXPORT FORMAT
										</label>
									</div>
									<div class="checkbox">
										<label class="icheck">
											<input type="checkbox" checked disabled value="">
											<i></i> Relayer CSV FILE
										</label>
									</div>											
									<div class="form-group col-md-12 col-sm-12 col-xs-12">
												<label class="form-label" for="iemail">Invocie Email:</label>
												<input type="email" class="form-control" id="ipcode" name="iemail" placeholder="" value="" >
											</div> 	
									<div class="form-group col-md-12 col-sm-12 col-xs-12">
												<label class="form-label" for="ppswd">Pdf Password:</label>
												<input type="password" class="form-control" id="ppswd" name="ppswd" placeholder="" value="" >
											</div> 	
																				
									</div>
									<div class="col-md-6 col-sm-12 col-xs-12">
									<div class="form-group col-md-12 col-sm-12 col-xs-12">
												<label class="form-label" for="vnumber">Vat Number:</label>
												<input type="text" class="form-control" id="vnumber" name="vnumber" placeholder="" value="" >
											</div> 	
											<div class='row'>
									<div class="form-group col-md-6 col-sm-12 col-xs-12">
												<label class="form-label" for="vrate">Vat Rate:</label>
												<input type="text" class="form-control" id="vrate" name="vrate" placeholder="" value="" >
											</div>
									<div class="form-group col-md-6 col-sm-12 col-xs-12">
												<label class="form-label" for="vcode">Code:</label>
												 <select class="form-control ">
													<option>Y</option>
													<option>Option 1</option>
													<option>Option 2</option>
													<option>Option 3</option>
												</select>
									</div>	
									</div>	
									<div class="form-group col-md-12 col-sm-12 col-xs-12">
												<label class="form-label" for="currency">Currency:</label>
												<input type="text" class="form-control" id="currency" name="currency" placeholder="" value="" >
											</div>
									<div class="form-group col-md-12 col-sm-12 col-xs-12">
												<label class="form-label" for="exchange">Exchange:</label>
												<input type="text" class="form-control" id="exchange" name="exchange" placeholder="" value="" >
											</div>	
											<div class='row'>
	<div class="form-group col-md-6 col-sm-12 col-xs-12">
												<label class="form-label" for="invoicestyle">Invoice Style:</label>
												 <select class="form-control ">
													<option>S</option>
													<option>Option 1</option>
													<option>Option 2</option>
													<option>Option 3</option>
												</select>
									</div>
	<div class="form-group col-md-6 col-sm-12 col-xs-12">
												<label class="form-label" for="vcode">Invoice Period:</label>
												 <select class="form-control ">
													<option>W</option>
													<option>Option 1</option>
													<option>Option 2</option>
													<option>Option 3</option>
												</select>
									</div>	
									</div>	
									<div class="form-group col-md-12 col-sm-12 col-xs-12">
												<label class="form-label" for="cterm">Credit Term:</label>
												<input type="text" class="form-control" id="cterm" name="cterm" placeholder="" value="" >
											</div>	
									<div class="form-group col-md-12 col-sm-12 col-xs-12">
												<label class="form-label" for="discount">Discount:</label>
												<input type="text" class="form-control" id="discount" name="discount" placeholder="" value="0.00" >
											</div>
									<div class="form-group col-md-12 col-sm-12 col-xs-12">
												<label class="form-label" for="discount1">Discount 1:</label>
												<input type="text" class="form-control" id="discount1" name="discount1" placeholder="" value="0.00" >
											</div>
									<div class="form-group col-md-12 col-sm-12 col-xs-12">
												<label class="form-label" for="discountsli">SLI Discount:</label>
												<input type="text" class="form-control" id="discountsli" name="discountsli" placeholder="" value="0.00" >
											</div>	
	<div class="form-group col-md-12 col-sm-12 col-xs-12">
												<label class="form-label" for="vcode">Weight Identifier:</label>
												 <select class="form-control ">
													<option>W</option>
													<option>Option 1</option>
													<option>Option 2</option>
													<option>Option 3</option>
												</select>
									</div>	
									<div class="checkbox">
										<label class="icheck">
											<input type="checkbox" value="">
											<i></i> Lowest Cost Routing
										</label>
									</div>									
									</div>
                                
                            </div>
                            <div class="form-group text-center space-20">
                                <button uiSref="personal" type="button" class="btn btn-raised btn-secondary mr-1" previousStep>
                                    <span style="margin-right:10px;">
                                        <i class="ft-chevron-left"></i>
                                    </span> Previous</button>
                                <button uiSref="address" type="button" class="btn btn-raised btn-info" [disabled]="!workForm.valid" nextStep>
                                    Next
                                    <span style="margin-left:10px;">
                                        <i class="ft-chevron-right"></i>
                                    </span>
                                </button>
                            </div>
                        </form>                        
                    </wizard-step>
					 <wizard-step navigationSymbol="&#xf0b1;" navigationSymbolFontFamily="FontAwesome">
                        <form #workForm="ngForm" class="editForm" novalidate>
                            <h4 class="head text-center">Commision</h4>
                            <br/>
                            <div class='row'>
							<h4 class="form-section">Round 1
									</h4>
							<div class="col-md-12 col-sm-12 col-xs-12">
							<div class='row'>
                             <div class="form-group col-md-6 col-sm-12 col-xs-12">
											<label class="form-label" for="from1">From:</label>
											
											
												<input type="date" name="from1" id="from1" class="form-control" />
												
										</div>
										<div class="form-group col-md-6 col-sm-12 col-xs-12">
											<label class="form-label" for="to1">To:</label>
											
											
												<input type="date" name="to1" id="to1" class="form-control"  />
												
										</div> 
										</div> 
										</div> 
									<div class="form-group col-md-12 col-sm-12 col-xs-12">
												<label class="form-label" for="commsion">Commision (%):</label>
												<input type="text" class="form-control" id="commsion" name="commsion" placeholder="" value="0.00" >
											</div>
									<h4 class="form-section">Round 2
									</h4>
									<div class="col-md-12 col-sm-12 col-xs-12">
							<div class='row'>
										<div class="form-group col-md-6 col-sm-12 col-xs-12">
											<label class="form-label" for="from2">From:</label>
											
												<input type="date" name="from2" id="from2" class="form-control"  />
												
										</div>
										<div class="form-group col-md-6 col-sm-12 col-xs-12">
											<label class="form-label" for="to2">To:</label>
											
												<input type="date" name="to2" id="to2" class="form-control" />
												
										</div> 
									<div class="form-group col-md-12 col-sm-12 col-xs-12">
												<label class="form-label" for="commsion2">Commision (%):</label>
												<input type="text" class="form-control" id="commsion2" name="commsion2" placeholder="" value="0.00" >
											</div>	
											</div>	
											</div>	
									<h4 class="form-section">Round 3
									</h4>
									<div class="col-md-12 col-sm-12 col-xs-12">
							<div class='row'>
										<div class="form-group col-md-6 col-sm-12 col-xs-12">
											<label class="form-label" for="from3">From:</label>
											
												<input type="date" name="from3" id="from3" class="form-control" />
												
										</div>
										<div class="form-group col-md-6 col-sm-12 col-xs-12">
											<label class="form-label" for="to3">To:</label>
											
												<input type="date" name="to3" id="to3" class="form-control"  />
												
										</div> 
									<div class="form-group col-md-12 col-sm-12 col-xs-12">
												<label class="form-label" for="commsion3">Commision (%):</label>
												<input type="text" class="form-control" id="commsion3" name="commsion3" placeholder="" value="0.00" >
											</div>
											</div>
											</div>
                            </div>
                            <div class="form-group text-center space-20">
                                <button uiSref="personal" type="button" class="btn btn-raised btn-secondary mr-1" previousStep>
                                    <span style="margin-right:10px;">
                                        <i class="ft-chevron-left"></i>
                                    </span> Previous</button>
                                <button uiSref="address" type="button" class="btn btn-raised btn-info" [disabled]="!workForm.valid" nextStep>
                                    Next
                                    <span style="margin-left:10px;">
                                        <i class="ft-chevron-right"></i>
                                    </span>
                                </button>
                            </div>
                        </form>                        
                    </wizard-step>
					 <wizard-step navigationSymbol="&#xf0b1;" navigationSymbolFontFamily="FontAwesome">
                        <form #workForm="ngForm" class="editForm" novalidate>
                            <h4 class="head text-center">Options</h4>
                            <br/>
                            <div class='row'>
                                <div class='col-12'>
                                  <div class="checkbox">
										<label class="icheck">
											<input type="checkbox" value="">
											<i></i> Monitor Deliveries
										</label>
									</div>
									<div class="checkbox">
										<label class="icheck">
											<input type="checkbox" checked value="">
											<i></i> Releince Required
										</label>
									</div>
									<div class="checkbox">
										<label class="icheck">
											<input type="checkbox" checked disabled value="">
											<i></i> Elements
										</label>
									</div>
									<div class='row'>
									<div class="form-group col-md-6 col-sm-12 col-xs-12">
												<label class="form-label" for="dcrn">Default Collection Run Number:</label>
												 <select class="form-control ">
													<option>Y</option>
													<option>Option 1</option>
													<option>Option 2</option>
													<option>Option 3</option>
												</select>
									</div>
									<div class="form-group col-md-6 col-sm-12 col-xs-12">
												<label class="form-label" for="sexco">Send Exco:</label>
												 <select class="form-control ">
													<option>Y</option>
													<option>Option 1</option>
													<option>Option 2</option>
													<option>Option 3</option>
												</select>
									</div>	
									</div>	
									<div class='row'>
									<div class="form-group col-md-6 col-sm-12 col-xs-12">
												<label class="form-label" for="preturn">POD Return:</label>
												 <select class="form-control ">
													<option>D</option>
													<option>Option 1</option>
													<option>Option 2</option>
													<option>Option 3</option>
												</select>
									</div>
									<div class="form-group col-md-6 col-sm-12 col-xs-12">
												<label class="form-label" for="sexco">POD Output:</label>
												 <select class="form-control ">
													<option>F</option>
													<option>Option 1</option>
													<option>Option 2</option>
													<option>Option 3</option>
												</select>
									</div>
									</div>
									
									<div class="form-group col-md-12 col-sm-12 col-xs-12">
												<label class="form-label" for="demail">Data Email:</label>
												<input type="email" class="form-control" id="demail" name="demail" placeholder="" value="" >
											</div> 	
											<div class="checkbox">
										<label class="icheck">
											<input type="checkbox" checked disabled value="">
											<i></i> Send Message
										</label>
									</div>
									<div class="form-group col-md-12 col-sm-12 col-xs-12">
												<label class="form-label" for="tnumber">Tracking Number:</label>
												<input type="text" class="form-control" id="tnumber" name="tnumber" placeholder="" value="" >
											</div>
                                </div>
                            </div>
                            <div class="form-group text-center space-20">
                                <button uiSref="personal" type="button" class="btn btn-raised btn-secondary mr-1" previousStep>
                                    <span style="margin-right:10px;">
                                        <i class="ft-chevron-left"></i>
                                    </span> Previous</button>
                                <button uiSref="address" type="button" class="btn btn-raised btn-info" [disabled]="!workForm.valid" nextStep>
                                    Next
                                    <span style="margin-left:10px;">
                                        <i class="ft-chevron-right"></i>
                                    </span>
                                </button>
                            </div>
                        </form>                        
                    </wizard-step>
                    <wizard-step navigationSymbol="&#xf0ac;" navigationSymbolFontFamily="FontAwesome">
                        <form #addressForm="ngForm" class="editForm" novalidate>
                            <h4 class="head text-center">Surcharges</h4>
                            <br/>
                            <div class='row'>
                                <div class='col-sm-12'>
                                    
                                    <div class="row">
                                       <div class="form-group col-md-6 col-sm-12 col-xs-12">
											<div class="row">
											<div class="form-group col-md-3 col-sm-12 col-xs-12">
												<label class="form-label" for="s1">Surcharge 1:</label>
												<input type="text" class="form-control" id="s1" name="s1" placeholder="" value="" >
											</div> 	
											<div class="form-group col-md-9 col-sm-12 col-xs-12">
												<label class="form-label" for="d1">Description:</label>
												<input type="text" class="form-control" id="d1" name="d1" placeholder="" value="" >
											</div> 	
											</div> 
											<div class="row">
											<div class="form-group col-md-3 col-sm-12 col-xs-12">
												<label class="form-label" for="s2">Surcharge 2:</label>
												<input type="text" class="form-control" id="s2" name="s2" placeholder="" value="" >
											</div> 	
											<div class="form-group col-md-9 col-sm-12 col-xs-12">
												<label class="form-label" for="d2">Description:</label>
												<input type="text" class="form-control" id="d2" name="d2" placeholder="" value="" >
											</div> 	
											</div>
												<div class="row">
											<div class="form-group col-md-3 col-sm-12 col-xs-12">
												<label class="form-label" for="s3">Surcharge 3:</label>
												<input type="text" class="form-control" id="s3" name="s3" placeholder="" value="" >
											</div> 	
											<div class="form-group col-md-9 col-sm-12 col-xs-12">
												<label class="form-label" for="d3">Description:</label>
												<input type="text" class="form-control" id="d3" name="d3" placeholder="" value="" >
											</div>
											</div>
																				
									</div>
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
										<h4 class='margin-top-30'>Notes</h4>
										<div class="form-group">
											<label class="form-label" for="field-6">General Section</label>
											<span class="desc">e.g. "Enter info"</span>
											<div class="controls">
												<textarea class="form-control" cols="5" id="field-6"></textarea>
											</div>
										</div>
										<div class="form-group">
											<label class="form-label" for="field-6">Despatch Section</label>
											<span class="desc">e.g. "Enter info"</span>
											<div class="controls">
												<textarea class="form-control" cols="5" id="field-6"></textarea>
											</div>
										</div>										
									</div>
                                    </div>

                                    <div class="form-group text-center">
                                        <button uiSref="work" type="button" class="btn btn-raised btn-secondary mr-1" previousStep>
                                            <span style="margin-right:10px;">
                                                <i class="ft-chevron-left"></i>
                                            </span> Previous</button>
                                        <button uiSref="result" type="button" class="btn btn-raised btn-success" [disabled]="!addressForm.valid" resetWizard>
                                            Finish
                                            <span style="margin-left:10px;">
                                                <i class="ft-chevron-right"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                    </wizard-step>
                </wizard>


            </div>
        </div>
    </div>
</section>