<!--Pinning Starts-->
<section id="pinning" class="mb-3">
    <div class="row">
        <div class="col-12">
            <div class="content-header">Ready Reckoner</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                        <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-15">
                              
                                      <div class="col-md-12 col-sm-12 col-xs-12">
                                      <div class="row">
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                              <label class="form-label" for="hawb">Service:</label>
                                              <input type="text" class="form-control" id="hawb" name="hawb" placeholder="" value="" >
                                          </div>
                                  
                                             <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                              <label class="form-label" for="service">Description</label>
                                              <input type="text" class="form-control" id="service" name="service" placeholder="" value="" >
                                          </div>
                                          <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                                <label class="form-label" for="hawb">Zone:</label>
                                                <input type="text" class="form-control" id="hawb" name="hawb" placeholder="" value="" >
                                            </div>
                                    
                                               <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                                <label class="form-label" for="service">Currency</label>
                                                <input type="text" class="form-control" id="service" name="service" placeholder="" value="" >
                                            </div>                                                          
                                          </div>
              							<div class="form-actions">
                                                <button type="button" class="btn btn-raised btn-danger mr-1">
                                                    <i class="icon-trash"></i> Cancel
                                                </button>
                                                <button type="button" class="btn btn-raised btn-success">
                                                    <i class="icon-note"></i> OK
                                                </button>
                                            </div>
                                                                   
                          
                                  </div>
                                  </div>
                               
                                              </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ngx-datatable class="bootstrap" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"
                            [scrollbarH]="true" [rows]="rows">
                            <ngx-datatable-column name="KG" [width]="300" [frozenLeft]="true">
                            </ngx-datatable-column>
                    
                            <ngx-datatable-column name="DOX" [width]="150" prop="address.city">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="NOX" [width]="300" prop="address.state">
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Pinning Ends-->