<!-- Basic form layout section start -->
<section id="basic-form-layouts">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-header">New Customer Tariff Card</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				
				<div class="card-body">
					<div class="px-3">
						<form class="form">
							<div class="form-body">
								
								<div class="row">
						<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label" for="acc">Code:</label>
                          
                                <input type="text" name="acc" id="acc" class="form-control"  />
                            
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label" for="heading">Name:</label>
                          
                         
                                <input type="text" name="heading" id="heading" class="form-control"  />
                                
                            
                        </div> 
                     	
								</div>
							

								<h4 class="form-section">
									</h4>

                                    <div class="row">
                                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <label class="form-label" for="acc">Copy Service:</label>
                                              
                                                    <input type="text" name="acc" id="acc" class="form-control"  />
                                                
                                            </div>
                                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <label class="form-label" for="heading">Copy to Service:</label>
                                              
                                             
                                                    <input type="text" name="heading" id="heading" class="form-control"  />
                                                    
                                                
                                            </div> 
                                             
                                                    </div>
								

								<div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-15">
                
                        <div class="col-md-12 col-sm-12 col-xs-12">
						<div class="row">
                      <div class="form-group col-md-3 col-sm-12 col-xs-12">
                                <label class="form-label" for="hawb">Uplift % Basic:</label>
                                <input type="text" class="form-control" id="hawb" name="hawb" placeholder="" value="" >
                            </div>
					
							   <div class="form-group col-md-3 col-sm-12 col-xs-12">
                                <label class="form-label" for="service">..</label>
                                <input type="text" class="form-control" id="service" name="service" placeholder="" value="" >
                            </div>
					                        
                            </div>

                                                     
			
                    </div>
                    </div>
                 
								</div>
								<div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-15">
                                      
                                              <div class="col-md-12 col-sm-12 col-xs-12">
                                              <div class="row">
                                            <div class="form-group col-md-3 col-sm-12 col-xs-12">
                                                      <label class="form-label" for="hawb">Uplift % Add:</label>
                                                      <input type="text" class="form-control" id="hawb" name="hawb" placeholder="" value="" >
                                                  </div>
                                          
                                                     <div class="form-group col-md-3 col-sm-12 col-xs-12">
                                                      <label class="form-label" for="service">..</label>
                                                      <input type="text" class="form-control" id="service" name="service" placeholder="" value="" >
                                                  </div>
                                                                  
                                                  </div>
                      
                                                                           
                                  
                                          </div>
                                          </div>
                                       
                                                      </div>
                                                      <div class="row">
                                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-15">
                                                          
                                                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                                                  <div class="row">
                                                                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                                                                          <label class="form-label" for="hawb">Uplift % Surcharge:</label>
                                                                          <input type="text" class="form-control" id="hawb" name="hawb" placeholder="" value="" >
                                                                      </div>
                                                              
                                                                         <div class="form-group col-md-3 col-sm-12 col-xs-12">
                                                                          <label class="form-label" for="service">..</label>
                                                                          <input type="text" class="form-control" id="service" name="service" placeholder="" value="" >
                                                                      </div>
                                                                                      
                                                                      </div>
                                          
                                                                                               
                                                      
                                                              </div>
                                                              </div>
                                                           
                                                                          </div>                                                      								
								
								
								
								
								                                               
                                	
                                
                               
							</div>
                        
							<div class="form-actions">
								<button type="button" class="btn btn-raised btn-danger mr-1">
									<i class="icon-trash"></i> Cancel
								</button>
								<button type="button" class="btn btn-raised btn-success">
									<i class="icon-note"></i> Save
								</button>
                            </div>
                        
						</form>
					</div>
				</div>
			</div>
		</div>

		
	</div>


	


	


	


	
</section>
<!-- // Basic form layout section end -->