<!--Sorting DataTable Starts-->
<section id="sorting" class="mb-3">
    <div class="row">
        <div class="col-12">
            <div class="content-header">Sorting DataTable</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                  <div class="card-title-wrap bar-info">
                    <h4 class="card-title">Table Sorting</h4>
                  </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ngx-datatable class="bootstrap" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                             [sorts]="[{prop: 'name', dir: 'desc'}]" [limit]="10">
                            <ngx-datatable-column name="Company">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <a  [routerLink]="['/tables/regular']" class="success p-0" data-original-title="" title="">
                                        <i class="fa fa-pencil font-medium-3 mr-2"></i>
                                    </a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Name">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.name}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Gender">
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Sorting DataTable Ends-->