<!-- Basic form layout section start -->
<section id="basic-form-layouts">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-header">Job Information</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				
				<div class="card-body">
					<div class="px-3">
						<form class="form">
							<div class="form-body">
								
								<div class="row">
						<div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label class="form-label" for="date">Date:</label>
                          
                                <input type="date" name="date" id="date" class="form-control"  />
                            
                        </div>
                        <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label class="form-label" for="e_date">Export:</label>
                          
                         
                                <input type="date" name="e_date" id="e_date" class="form-control"  />
                                
                            
                        </div> 
                      <div class="form-group col-md-3 col-sm-12 col-xs-12">
                                <label class="form-label" for="hawb">HAWB:</label>
                                <input type="text" class="form-control" id="hawb" name="hawb" placeholder="" value="5484654548464" >
                            </div>	
					<div class="form-group col-md-3 col-sm-12 col-xs-12">			
                                <label class="form-label" for="status">Status:</label>
                                 <select class="form-control ">
                                <option>Y</option>
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                            </select>
                            </div>	
								</div>
							

								<h4 class="form-section">
									</h4>

								

								<div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 margin-bottom-15">
                
                        <div class="col-md-12 col-sm-12 col-xs-12">
						<div class="row">
                      <div class="form-group col-md-2 col-sm-12 col-xs-12">
                                <label class="form-label" for="acc1">Account:</label>
                                <input type="text" class="form-control" id="acc1" name="acc1" placeholder="" value="54843146" >
                            </div>
					<div class="form-group col-md-4 col-sm-12 col-xs-12">
                                <label class="form-label" for="acc2">..</label>
                                <input type="text" class="form-control" id="acc2" name="acc2" placeholder="" value="ICL" >
                            </div>
							   <div class="form-group col-md-2 col-sm-12 col-xs-12">
                                <label class="form-label" for="ref1">ref:</label>
                                <input type="text" class="form-control" id="ref1" name="ref1" placeholder="" value="54843146" >
                            </div>
					<div class="form-group col-md-4 col-sm-12 col-xs-12">
                                <label class="form-label" for="ref2">..</label>
                                <input type="text" class="form-control" id="ref2" name="ref2" placeholder="" value="ICL" >
                            </div>
                            </div>
					<div class="row">		
					<div class="form-group col-md-6 col-sm-12 col-xs-12">			
                                <label class="form-label" for="bby">Booked by:</label>
                                <input type="text" class="form-control" id="bby" name="bby" placeholder="" value="0.00" >
                            </div>							
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="Ext">Ext:</label>
                                <input type="text" class="form-control" id="Ext" name="Ext" placeholder="" value="0.00" >
                            </div>        
                            </div>   
					<div class="row">
                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                <label class="form-label" for="serv1">service:</label>
                                <select class="form-control ">
                                <option>INT</option>
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                            </select>
                            </div>    
					<div class="form-group col-md-4 col-sm-12 col-xs-12">
                                <label class="form-label" for="serv12"> ..</label>
                                <input type="text" class="form-control" id="serv12" name="serv12" placeholder="" value="International" >
                            </div>  
			
                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                <label class="form-label" for="serv13"> ..</label>
                                <input type="text" class="form-control" id="serv13" name="serv13" placeholder="" value="" >
                            </div>  
                            </div>  
						<div class="row">	
                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                <label class="form-label" for="sep1">special:</label>
                                <select class="form-control ">
                                <option>INT</option>
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                            </select>
                            </div>    
					<div class="form-group col-md-4 col-sm-12 col-xs-12">
                                <label class="form-label" for="sep12">.. </label>
                                <input type="text" class="form-control" id="sep12" name="sep12" placeholder="" value="" >
                            </div>  
			
                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                <label class="form-label" for="sep13">Q/Ref:</label>
                                <input type="text" class="form-control" id="sep13" name="sep13" placeholder="" value="" >
                            </div> 
                            </div> 
							<div class="row">
									<div class="form-group col-md-6 col-sm-12 col-xs-12">
												<label class="form-label" for="contact">Contact:</label>
												<input type="email" class="form-control" id="contact" name="contact" placeholder="" value="Mandawa" >
											</div> 	
							<div class="form-group col-md-6 col-sm-12 col-xs-12 mt-4">
                                <label class="form-label" for="cadd"></label>
                                <a type="button" class="btn btn-accent btn-sm">Clear Address</a>
                            </div>
                            </div>
							<div class="row">
									<div class="form-group col-md-6 col-sm-12 col-xs-12">
												<label class="form-label" for="cons">Consignee:</label>
												<input type="text" class="form-control" id="cons" name="cons" placeholder="" value="Mandawa" >
											</div> 	
											<div class="form-group col-md-6 col-sm-12 col-xs-12 mt-4">
                                <label class="form-label" for="fadd"></label>
                                <a type="button" class="btn btn-accent btn-sm">Find Address</a>
                            </div>
                            </div>
							
								<div class="row">
									<div class="form-group col-md-8 col-sm-12 col-xs-12">
												
												<input type="text" class="form-control" id="i_address1" name="i_address1" placeholder="" value="" >
											</div> 	
									<div class="form-group col-md-8 col-sm-12 col-xs-12">
												
												<input type="text" class="form-control" id="i_address2" name="i_address2" placeholder="" value="" >
											</div> 	
									<div class="form-group col-md-8 col-sm-12 col-xs-12">
												
												<input type="text" class="form-control" id="i_address3" name="i_address3" placeholder="" value="" >
											</div>
											</div>
								
								
					<div class="row">						
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="country">country:</label>
                                <input type="text" class="form-control" id="country" name="country" placeholder="" value="ISB" >
                            </div> 	
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="phone">phone:</label>
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="" value="464969746" >
                            </div> 	
                            </div> 	
							<div class="row">
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="city">city:</label>
                                <input type="text" class="form-control" id="city" name="city" placeholder="" value="ISB" >
                            </div> 	
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="email">email:</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="" value="" >
                            </div> 	
                            </div> 	
					<div class="row">		
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="pcode">Postal Code:</label>
                                <input type="text" class="form-control" id="pcode" name="pcode" placeholder="" value="" >
                            </div> 	
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="iata">IATA:</label>
                                <input type="text" class="form-control" id="iata" name="iata" placeholder="" value="" >
                            </div> 
                            </div> 
					<div class="row">		
					<div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="pieces">pieces:</label>
                                <input type="text" class="form-control" id="pieces" name="pieces" placeholder="" value="" >
                            </div> 	
					<div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="weight">weight:</label>
                                <input type="text" class="form-control" id="weight" name="weight" placeholder="" value="" >
                            </div> 
                            </div> 
					<div class="row">		
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="pro">product:</label>
                                <select class="form-control ">
                                <option>INT</option>
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                            </select>
                            </div>	
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="description">description:</label>
                                <select class="form-control ">
                                <option>Description NCP</option>
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                            </select>
                            </div>	
                            </div>	
					<div class="row">		
					<div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="val1">value:</label>
                                <input type="text" class="form-control" id="val1" name="val1" placeholder="" value="54" >
                            </div> 	
					<div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="val2">..</label>
                                <input type="text" class="form-control" id="val2" name="val2" placeholder="" value="PKR" disabled>
                            </div>	
                            </div>	
							<div class="row">
					<div class="form-group col-md-3 col-sm-12 col-xs-12">
                                <label class="form-label" for="agent">agent:</label>
                                <input type="text" class="form-control" id="agent" name="agent" placeholder="" value="54" >
                            </div> 	
					<div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="agent1">..</label>
                                <input type="text" class="form-control" id="agent1" name="agent1" placeholder="" value="qeferegfds" >
                            </div>	
					<div class="form-group col-md-3 col-sm-12 col-xs-12">
                                <label class="form-label" for="track">track:</label>
                                <input type="text" class="form-control" id="track" name="track" placeholder="" value="5433432" >
                            </div>	
                            </div>	
							<div class="row">
					<div class="form-group col-md-3 col-sm-12 col-xs-12">
                                <label class="form-label" for="def">def:</label>
                                <input type="text" class="form-control" id="def" name="def" placeholder="" value="" >
                            </div> 	
					<div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="form-label" for="def1">..</label>
                                <input type="text" class="form-control" id="def1" name="def1" placeholder="" value="" >
                            </div>							
                            </div>							
                    </div>
                    </div>
                   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 margin-bottom-15">
                        
                        <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="f1">Booking Taken:</label>
                                <input type="text" class="form-control" id="f1" name="f1" placeholder="" value=" / /" >
                            </div>
					<div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="f2"></label>
                                <input type="text" class="form-control" id="f2" name="f2" placeholder="" value="  : " >
                            </div>
					<div class="form-group col-md-12 col-sm-12 col-xs-12">			
                                <label class="form-label" for="f3"></label>
                                <input type="text" class="form-control" id="f3" name="f3" placeholder="" value="" >
                            </div>							
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="f4">Master:</label>
                                <input type="text" class="form-control" id="f4" name="f4" placeholder="" value="" >
                            </div>        
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="f5">Manifest:</label>
                                <input type="text" class="form-control" id="f5" name="f5" placeholder="" value="78419746" >
                            </div>   
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="f6">flight:</label>
                                <input type="text" class="form-control" id="f6" name="f6" placeholder="" value="" >
                            </div>   
                            <div class="form-group col-md-12 col-sm-12 col-xs-12 margin-top-25">
                                <label class="form-label" for="fadd"></label>
                                <a type="button" [routerLink]="['/forms/audit']" class="btn btn-accent btn-sm">Audit</a>
                            </div>                            
					<div class="form-group col-md-12 col-sm-12 col-xs-12 margin-top-25">
                                <label class="form-label" for="fadd"></label>
                                <a type="button" [routerLink]="['/forms/price-info']" class="btn btn-accent btn-sm">Pricing</a>
                            </div>							
                    </div>
                    </div>
								</div>

								
							</div>

							<div class="form-actions">
								<button type="button" class="btn btn-raised btn-danger mr-1">
									<i class="icon-trash"></i> Cancel
								</button>
								<button type="button" class="btn btn-raised btn-success">
									<i class="icon-note"></i> Save
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		
	</div>


	


	


	


	
</section>
<!-- // Basic form layout section end -->