<!-- Basic form layout section start -->
<section id="basic-form-layouts">
        <div class="row">
                <div class="col-sm-12">
                        <div class="content-header">System Security Levels</div>
                </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                        <div class="card">

                                <div class="card-body">
                                        <div class="px-3">
                                                <form class="form">
                                                        <div class="form-body">

                                                                <div class="row">

                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="acc">Agent
                                                                                        File:</label>

                                                                                <input type="number" name="acc" id="acc"
                                                                                        class="form-control" />

                                                                        </div>
                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="heading">Daily
                                                                                        Close Out:</label>


                                                                                <input type="number" name="heading" id="heading"
                                                                                        class="form-control" value="" />


                                                                        </div>

                                                                </div>
                                                                <div class="row">

                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="acc">Customer
                                                                                        File:</label>

                                                                                <input type="number" name="acc" id="acc"
                                                                                        class="form-control" />

                                                                        </div>
                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="heading">Customer Invoicing:</label>


                                                                                <input type="number" name="heading" id="heading"
                                                                                        class="form-control" value="" />


                                                                        </div>

                                                                </div>
                                                                <div class="row">

                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="acc">Currency
                                                                                        File:</label>

                                                                                <input type="number" name="acc" id="acc"
                                                                                        class="form-control" />

                                                                        </div>
                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="heading">Purchase Invoice File:</label>


                                                                                <input type="number" name="heading" id="heading"
                                                                                        class="form-control" value="" />


                                                                        </div>

                                                                </div>
                                                                <div class="row">

                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="acc">Flight
                                                                                        File:</label>

                                                                                <input type="number" name="acc" id="acc"
                                                                                        class="form-control" />

                                                                        </div>
                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="heading">Manual Invoice & Credits:</label>


                                                                                <input type="number" name="heading" id="heading"
                                                                                        class="form-control" value="" />


                                                                        </div>

                                                                </div>
                                                                <div class="row">

                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="acc">GateWay
                                                                                        File:</label>

                                                                                <input type="number" name="acc" id="acc"
                                                                                        class="form-control" />

                                                                        </div>
                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="heading">Reports:</label>


                                                                                <input type="number" name="heading" id="heading"
                                                                                        class="form-control" value="" />


                                                                        </div>

                                                                </div>
                                                                <div class="row">

                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="acc">Town & Country
                                                                                        File:</label>

                                                                                <input type="number" name="acc" id="acc"
                                                                                        class="form-control" />

                                                                        </div>
                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="heading">Bulletins:</label>


                                                                                <input type="number" name="heading" id="heading"
                                                                                        class="form-control" value="" />


                                                                        </div>

                                                                </div>
                                                                <div class="row">

                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="acc">Tariff
                                                                                        File:</label>

                                                                                <input type="number" name="acc" id="acc"
                                                                                        class="form-control" />

                                                                        </div>
                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="heading">Invoice File Alterations:</label>


                                                                                <input type="number" name="heading" id="heading"
                                                                                        class="form-control" value="" />


                                                                        </div>

                                                                </div>
                                                                <div class="row">

                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="acc">Service Guide:</label>

                                                                                <input type="number" name="acc" id="acc"
                                                                                        class="form-control" />

                                                                        </div>
                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="heading">Re-price AWB:</label>


                                                                                <input type="number" name="heading" id="heading"
                                                                                        class="form-control" value="" />


                                                                        </div>

                                                                </div>
                                                                <div class="row">
                                                                       
                                                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                        <label class="form-label" for="acc">Status Codes:</label>
        
                                                                                        <input type="number" name="acc" id="acc"
                                                                                                class="form-control" />
        
                                                                                </div>
                                                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                        <label class="form-label" for="heading">Shipment Quote:</label>
        
        
                                                                                        <input type="number" name="heading" id="heading"
                                                                                                class="form-control" value="" />
        
        
                                                                                </div>
        
                                                                        </div>
                                                                        <div class="row">
                                                                               
                                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                                <label class="form-label" for="acc">User File:</label>
                
                                                                                                <input type="number" name="acc" id="acc"
                                                                                                        class="form-control" />
                
                                                                                        </div>
                                                                                       
                
                                                                                </div>          
                                                                                <div class="row">
                                                                               
                                                                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                                        <label class="form-label" for="acc">System Properties:</label>
                        
                                                                                                        <input type="number" name="acc" id="acc"
                                                                                                                class="form-control" />
                        
                                                                                                </div>
                                                                                               
                        
                                                                                        </div>                                                                                                                                       
                                                        </div>



                                                        <div class="form-actions">

                                                                <button type="button" class="btn btn-raised btn-success">
                                                                        <i class="icon-note"></i> Save
                                                                </button>
                                                        </div>

                                                </form>
                                        </div>
                                </div>
                        </div>
                </div>


        </div>












</section>
<!-- // Basic form layout section end -->