<!-- Basic form layout section start -->
<section id="basic-form-layouts">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-header">Extra Charges</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				
				<div class="card-body">
					<div class="px-3">
						<form class="form">
							<div class="form-body">
								
								<div class="row">
                        <div class="form-group col-md-3 col-sm-12 col-xs-12">			
                                <label class="form-label" for="status">Code:</label>
                                    <select class="form-control ">
                                <option>Y</option>
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                            </select>
                            </div>           
						<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label" for="acc">Desription:</label>
                          
                                <input type="text" name="acc" id="acc" class="form-control"  />
                            
                        </div>
                        <div class="form-group col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <label class="form-label" for="heading">Charge:</label>
                          
                         
                                <input type="text" name="heading" id="heading" class="form-control" value="0.0"  />
                                
                            
                        </div> 
                     	
								</div>
								<div class="row">
                                        <div class="form-group col-md-3 col-sm-12 col-xs-12">			
                                                
                                                    <select class="form-control ">
                                                <option>Y</option>
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                                <option>Option 3</option>
                                            </select>
                                            </div>           
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            
                                          
                                                <input type="text" name="acc" id="acc" class="form-control"  />
                                            
                                        </div>
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            
                                          
                                         
                                                <input type="text" name="heading" id="heading" class="form-control" value="0.0"  />
                                                
                                            
                                        </div> 
                                         
                                                </div>							
								<div class="row">
                                        <div class="form-group col-md-3 col-sm-12 col-xs-12">			
                                                
                                                    <select class="form-control ">
                                                <option>Y</option>
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                                <option>Option 3</option>
                                            </select>
                                            </div>           
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            
                                          
                                                <input type="text" name="acc" id="acc" class="form-control"  />
                                            
                                        </div>
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            
                                          
                                         
                                                <input type="text" name="heading" id="heading" class="form-control" value="0.0"  />
                                                
                                            
                                        </div> 
                                         
                                                </div>	
                                                <div class="row">
                                                        <div class="form-group col-md-3 col-sm-12 col-xs-12">			
                                                                
                                                                    <select class="form-control ">
                                                                <option>Y</option>
                                                                <option>Option 1</option>
                                                                <option>Option 2</option>
                                                                <option>Option 3</option>
                                                            </select>
                                                            </div>           
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            
                                                          
                                                                <input type="text" name="acc" id="acc" class="form-control"  />
                                                            
                                                        </div>
                                                        <div class="form-group col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                            
                                                          
                                                         
                                                                <input type="text" name="heading" id="heading" class="form-control" value="0.0"  />
                                                                
                                                            
                                                        </div> 
                                                         
                                                                </div>	
                                                                <div class="row">
                                                                        <div class="form-group col-md-3 col-sm-12 col-xs-12">			
                                                                                
                                                                                    <select class="form-control ">
                                                                                <option>Y</option>
                                                                                <option>Option 1</option>
                                                                                <option>Option 2</option>
                                                                                <option>Option 3</option>
                                                                            </select>
                                                                            </div>           
                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                            
                                                                          
                                                                                <input type="text" name="acc" id="acc" class="form-control"  />
                                                                            
                                                                        </div>
                                                                        <div class="form-group col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                            
                                                                          
                                                                         
                                                                                <input type="text" name="heading" id="heading" class="form-control" value="0.0"  />
                                                                                
                                                                            
                                                                        </div> 
                                                                         
                                                                                </div>	
                                                                                <div class="row">
                                                                                        <div class="form-group col-md-3 col-sm-12 col-xs-12">			
                                                                                                
                                                                                                    <select class="form-control ">
                                                                                                <option>Y</option>
                                                                                                <option>Option 1</option>
                                                                                                <option>Option 2</option>
                                                                                                <option>Option 3</option>
                                                                                            </select>
                                                                                            </div>           
                                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                            
                                                                                          
                                                                                                <input type="text" name="acc" id="acc" class="form-control"  />
                                                                                            
                                                                                        </div>
                                                                                        <div class="form-group col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                                            
                                                                                          
                                                                                         
                                                                                                <input type="text" name="heading" id="heading" class="form-control" value="0.0"  />
                                                                                                
                                                                                            
                                                                                        </div> 
                                                                                         
                                                                                                </div>	
								<div class="row">
                                        <div class="form-group col-md-3 col-sm-12 col-xs-12">			
                                                
                                                  
                                            </div>           
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            
                                          
                                                
                                            
                                        </div>
                                        <div class="form-group col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            
                                          
                                                <label class="form-label" for="heading">Total:</label>
                                                <input type="text" name="heading" id="heading" class="form-control" value="0.0"  />
                                                
                                            
                                        </div> 
                                         
                                                </div>	                                                                                                                                                                                                                                                                                                

                            </div>	


                        
							<div class="form-actions">
								
								<button type="button" class="btn btn-raised btn-success">
									<i class="icon-note"></i> Save
								</button>
                            </div>
                        
						</form>
					</div>
				</div>
			</div>
		</div>

		
	</div>


	


	


	


	
</section>
<!-- // Basic form layout section end -->