<!-- Basic form layout section start -->
<section id="basic-form-layouts">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-header">Audit</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				
				<div class="card-body">
					<div class="px-3">
						<form class="form">
							<div class="form-body">
								
								
							

								

								

								
								

								

								<div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row">
                      <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="form-label" for="czone">Hawb Audit For 45212555:</label>
                                <textarea class="form-control" cols="10" rows="15" id="field-6"> Auto Price : 03/12/12 BY Hasan &#10; Auto Price : 03/12/12 BY Hasan</textarea>
                            </div>
					
                            </div>
					
							
					
                    </div>								
								
								
								</div>
							</div>

							
						</form>
					</div>
				</div>
			</div>
		</div>

		
	</div>


	


	


	


	
</section>
<!-- // Basic form layout section end -->