<!-- Navbar (Header) Starts -->
<nav class="header-navbar navbar navbar-expand-lg navbar-light bg-faded">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle d-lg-none float-left" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="d-lg-none navbar-right navbar-collapse-toggle">
                <a class="open-navbar-container" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent">
                    <i class="ft-more-vertical"></i>
                </a>
            </span>
            <a href="javascript:;" class="mr-2 display-inline-block" id="navbar-fullscreen" appToggleFullscreen (click)="ToggleClass()">
                <i class="{{toggleClass}} blue-grey darken-4"></i>
                <p class="d-none">fullscreen</p>
            </a>
           
            
        </div>
        <div class="navbar-container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
                <ul class="navbar-nav">
                    
                   
                    
                   
                    <li class="nav-item mr-0" ngbDropdown placement="bottom-right">
                        <a class="nav-link dropdown-user-link position-relative" id="dropdownBasic3" ngbDropdownToggle>
                            <span class="avatar avatar-online">
                                <img src="assets/img/portrait/small/avatar-s-3.jpg" alt="avatar" id="navbar-avatar">
                            </span>
                            <p class="d-none">User Settings</p>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
                            <div class="arrow_box_right">
                              
                               
                                <a class="dropdown-item" href="javascript:;">
                                    <i class="ft-power mr-2"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- Navbar (Header) Ends -->