<!-- Basic form layout section start -->
<section id="basic-form-layouts">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-header">Invoice Run</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				
				<div class="card-body">
					<div class="px-3">
						<form class="form">
							<div class="form-body">
								
								<div class="row">
<div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
					
                        <div class="form-group">
                            <label class="form-label" for="invoice_date">Date of invoice run:</label>
                           
                                <input type="date" name="invoice_date" id="invoice_date" class="form-control "  />
                              
                            
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="upto_date">Invoice upto and Inculding:</label>
                            
                                <input type="date" name="upto_date" id="upto_date" class="form-control datepicker"  />
                                
                           
                        </div>  
							
                        <div class="form-group">
                            <label class="form-label" for="acc">Account:</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <input type="text" class="form-control" id="acc" name="acc"  required value="*">
                            </div>
                        </div>                      
                        <div class="form-group">
                            <label class="form-label" for="group">Group:</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <input type="text" class="form-control" id="group" name="group"  required value="*">
                            </div>
                        </div>                        
                       
							<div class="form-group">
                            <label class="form-label" for="field-pages">Period:</label>
                            <div class="controls">
                                <select ui-jq="chosen"  class="form-control" data-placeholder="Pages for current User" name="pages" required>
                                    <option value=""></option>
                                    <optgroup label="NFC EAST">
                                        <option selected="selected">*</option>
                                        <option>New York Giants</option>
                                        <option>Philadelphia Eagles</option>
                                        <option>Washington Redskins</option>
                                        <optgroup>
                                            <optgroup label="NFC NORTH">
                                                <option>Chicago Bears</option>
                                                <option>Detroit Lions</option>
                                                <option>Green Bay Packers</option>
                                                <option>Minnesota Vikings</option>
                                            </optgroup>
                                            <optgroup label="NFC SOUTH">
                                                <option>Atlanta Falcons</option>
                                                <option>Carolina Panthers</option>
                                                <option>New Orleans Saints</option>
                                                <option>Tampa Bay Buccaneers</option>
                                            </optgroup>
                                            <optgroup label="NFC WEST">
                                                <option>Arizona Cardinals</option>
                                                <option>St. Louis Rams</option>
                                                <option>San Francisco 49ers</option>
                                                <option>Seattle Seahawks</option>
                                            </optgroup>
                                            <optgroup label="AFC EAST">
                                                <option>Buffalo Bills</option>
                                                <option>Miami Dolphins</option>
                                                <option>New England Patriots</option>
                                                <option>New York Jets</option>
                                            </optgroup>
                                            <optgroup label="AFC NORTH">
                                                <option>Baltimore Ravens</option>
                                                <option>Cincinnati Bengals</option>
                                                <option>Cleveland Browns</option>
                                                <option>Pittsburgh Steelers</option>
                                            </optgroup>
                                            <optgroup label="AFC SOUTH">
                                                <option>Houston Texans</option>
                                                <option>Indianapolis Colts</option>
                                                <option>Jacksonville Jaguars</option>
                                                <option>Tennessee Titans</option>
                                            </optgroup>
                                            <optgroup label="AFC WEST">
                                                <option>Denver Broncos</option>
                                                <option>Kansas City Chiefs</option>
                                                <option>Oakland Raiders</option>
                                                <option>San Diego Chargers</option>
                                            </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>
								
								
								
								
								
					
								</div>
							

							
								

								
							</div>

							<div class="form-actions">
								<button type="button" class="btn btn-raised btn-danger mr-1">
									<i class="icon-trash"></i> Cancel
								</button>
								<button type="button" class="btn btn-raised btn-success">
									<i class="icon-note"></i> Save
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		
	</div>


	


	


	


	
</section>
<!-- // Basic form layout section end -->