<!-- Basic form layout section start -->
<section id="basic-form-layouts">
        <div class="row">
                <div class="col-sm-12">
                        <div class="content-header">Service Code</div>
                </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                        <div class="card">

                                <div class="card-body">
                                        <div class="px-3">
                                                <form class="form">
                                                        <div class="form-body">

                                                                <div class="row">

                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="acc">Service Code:</label>

                                                                                <input type="text" name="acc" id="acc"
                                                                                        class="form-control" />

                                                                        </div>
                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="heading">Service Number:</label>


                                                                                <input type="text" name="heading" id="heading"
                                                                                        class="form-control" value="" />


                                                                        </div>

                                                                </div>
                                                                <div class="row">

                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="acc">Service Description:</label>

                                                                                <input type="text" name="acc" id="acc"
                                                                                        class="form-control" />

                                                                        </div>
                                                                       

                                                                </div>
                                                                <div class="row">

                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="acc">Service Upgrades:</label>

                                                                                        
                                                                                                        
                                                                                <div class="custom-control custom-radio display-inline-block ml-1">
                                                                                        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                                                                                        <label class="custom-control-label" for="customRadioInline1">7:30</label>
                                                                                </div>
                                                                                <div class="custom-control custom-radio display-inline-block">
                                                                                        <input type="radio" id="customRadioInline2"  name="customRadioInline1" class="custom-control-input">
                                                                                        <label class="custom-control-label" for="customRadioInline2">9:00</label>
                                                                                </div>
                                                                                <div class="custom-control custom-radio display-inline-block ml-1">
                                                                                                <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
                                                                                                <label class="custom-control-label" for="customRadioInline3">10:30</label>
                                                                                        </div>
                                                                                <div class="custom-control custom-radio display-inline-block">
                                                                                        <input type="radio" id="customRadioInline4"  name="customRadioInline1" class="custom-control-input">
                                                                                        <label class="custom-control-label" for="customRadioInline4">12:00</label>
                                                                                </div>                                                                                                       
                                                                                <div class="custom-control custom-radio display-inline-block">
                                                                                                <input type="radio" id="customRadioInline5"  name="customRadioInline1" class="custom-control-input">
                                                                                                <label class="custom-control-label" for="customRadioInline5">17:30</label>
                                                                                        </div>                                                                                                    

                                                                        </div>
                                                                      

                                                                </div>
                                                                <div class="row">

                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                

                                                                                        <div class="custom-control custom-radio display-block">
                                                                                                        <input type="radio" id="sur1" name="sur1" class="custom-control-input">
                                                                                                        <label class="custom-control-label" for="sur1">Apply Surcharge 1</label>
                                                                                                    </div>
                                                                                                    <div class="custom-control custom-radio display-block">
                                                                                                        <input type="radio" id="sur2"  name="sur2" class="custom-control-input">
                                                                                                        <label class="custom-control-label" for="sur2">Apply Surcharge 2</label>
                                                                                                    </div>
                                                                                                    <div class="custom-control custom-radio display-block">
                                                                                                                <input type="radio" id="sur3"  name="sur3" class="custom-control-input">
                                                                                                                <label class="custom-control-label" for="sur3">Apply Surcharge 3</label>
                                                                                                            </div>   
                                                                                                            <div class="custom-control custom-radio display-block">
                                                                                                                        <input type="radio" id="lcr"  name="lcr" class="custom-control-input">
                                                                                                                        <label class="custom-control-label" for="lcr">Lowest Cost Routing</label>
                                                                                                                    </div>                                                                                                                                                                                                                

                                                                        </div>
                                                                        

                                                                </div>
                                                                <div class="row">

                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="acc">Volume Conversion:</label>

                                                                                <input type="number" name="acc" id="acc"
                                                                                        class="form-control" />

                                                                        </div>
                                                                      

                                                                </div>
                                                             
                                                              
                                                             
                                                                                 
                                                                                                                                                                                                                 
                                                        </div>



                                                        <div class="form-actions">

                                                                <button type="button" class="btn btn-raised btn-success">
                                                                        <i class="icon-note"></i> Save
                                                                </button>
                                                        </div>

                                                </form>
                                        </div>
                                </div>
                        </div>
                </div>


        </div>












</section>
<!-- // Basic form layout section end -->