<!-- Filter Datatable Options Starts -->
<section id="shipment" class="mb-3">
    <div class="row">
        <div class="col-12">
            <div class="content-header">ALL SHIPMENT</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                  <div class="card-title-wrap bar-info">
                    <h4 class="card-title">Shipment Listing</h4>
                  </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Type to filter the name column...' (keyup)='updateFilter($event)'
                        />
                        <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [limit]="10" [rows]='rows'>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Filter Datatable Options Ends -->