<!-- Basic form layout section start -->
<section id="basic-form-layouts">
        <div class="row">
                <div class="col-sm-12">
                        <div class="content-header">Pod Search</div>
                </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                        <div class="card">

                                <div class="card-body">
                                        <div class="px-3">
                                                <form class="form">
                                                        <div class="form-body">

                                                                <div class="row">

                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="acc">Signature:</label>

                                                                                <input type="text" name="acc" id="acc"
                                                                                        class="form-control" />

                                                                        </div>
                                                                     

                                                                </div>
                                                                <div class="row">

                                                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                                <label class="form-label" for="heading">Date:</label>
                
                
                                                                                                <input type="date" name="heading" id="heading"
                                                                                                        class="form-control" value="" />
                
                
                                                                                        </div>
                                                                               
        
                                                                        </div>                                                                
                                                                <div class="row">

                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="acc">Time:</label>

                                                                                <input type="text" name="acc" id="acc"
                                                                                        class="form-control" />

                                                                        </div>
                                                                        <div class="form-group col-md-6 col-sm-12 col-xs-12 mt-4">
                                                                                <label class="form-label" for="onf"></label>
                                                                                <a type="button" [routerLink]="['/datatables/duplicate']" class="btn btn-accent btn-sm">AWB Look Up</a>
                                                                            </div>	

                                                                </div>
                                                                
                                                                
                                                                <div class="row">

                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                <label class="form-label" for="acc">Last Action:</label>

                                                                                <input type="number" name="acc" id="acc"
                                                                                        class="form-control" />

                                                                        </div>
                                                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                                        <label class="form-label" for="acc">Search By:</label>
        
                                                                                        <select class="form-control "><option>HAWB</option></select>
        
                                                                                </div>   

                                                                </div>
                                                             
                                                              
                                                             
                                                                                 
                                                                                                                                                                                                                 
                                                        </div>



                                                        <div class="form-actions">

                                                                <button type="button" class="btn btn-raised btn-success">
                                                                        <i class="icon-note"></i> Save
                                                                </button>
                                                        </div>

                                                </form>
                                        </div>
                                </div>
                        </div>
                </div>


        </div>












</section>
<!-- // Basic form layout section end -->