<!-- Filter Datatable Options Starts -->
<section id="service-code" class="mb-3">
    <div class="row">
        <div class="col-12">
            <div class="content-header">SERVICE CODE</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                  <div class="card-title-wrap bar-info">
                    <h4 class="card-title">service-code Listing</h4>
                  </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ngx-datatable class="bootstrap" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                             [sorts]="[{prop: 'name', dir: 'desc'}]" [limit]="10">
                           
                            <ngx-datatable-column name="Code">
                                
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Description">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Number">
                                
                            </ngx-datatable-column>
                            <ngx-datatable-column name="07:30">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="09:00">
                                
                            </ngx-datatable-column>
                            <ngx-datatable-column name="10:30">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="12:00">
                                
                            </ngx-datatable-column>
                            <ngx-datatable-column name="17:30">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Surcharge">
                                
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Surcharge">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Surcharge">
                                
                            </ngx-datatable-column>
                            <ngx-datatable-column name="D Rate">
                            </ngx-datatable-column>   
                            <ngx-datatable-column name="LCR">
                            </ngx-datatable-column>
                                                                                                                                                                                              
                            <ngx-datatable-column name="View">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <a  [routerLink]="['/forms/service-code']" class="success p-0" data-original-title="" title="">
                                        <i class="fa fa-pencil font-medium-3 mr-2"></i>
                                    </a>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Filter Datatable Options Ends -->